<!DOCTYPE html>
<html>
  <head>
    <mate charest="utf-8" />
    <title>Hacienda el orosi</title>
  </head>
  <body>
    <h1>Lista de colaboradores</h1>
    <ul>
      {{#each collaborators}}
      <li>Nombre: {{this.name}}</li>
      <li>Apellido: {{this.surname}}</li>
      <li>Cedula: {{this.document_id}}</li>
      <li>Trabajo: {{this.job.name}}</li>
      <li>Nacionalidad: {{this.nationality}}</li>
      <li>Direccion: {{this.direction}}</li>
      <li>Telefono #1: {{this.tel}}</li>
      <li>Telefono #2: {{this.tel}}</li>
      <li>Inicio de contrato: {{this.date_admission}}</li>
      <li>Fin de contrato: {{this.dispatch_date}}</li>
      <br />
      {{/each}}
    </ul>
  </body>
</html>
